@mixin iconForText {
    content: "";
    display: block;

    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    opacity: 0.7;
}

$main-text: rgba(255, 255, 255, 0.7);

@font-face {
    font-family: Orbitron;
    src: url('/src/assets/fonts/Orbitron/Orbitron-VariableFont_wght.ttf');
}

@font-face {
    font-family: Sansation;
    src: url('/src/assets/fonts/Sansation/Sansation_Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: Sansation;
    src: url('/src/assets/fonts/Sansation/Sansation_Bold.ttf');
    font-weight: bold;
}

body {
    margin: 0;
    box-sizing: border-box;
    color: $main-text;
    font-family: Orbitron;
}

#root {
    width: 100vw;
    min-height: 100vh;
    margin: 0 auto;
    padding: 3.1rem 2.5rem 1rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: start;
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    width: 280px;
    box-sizing: border-box;
    border-radius: 40px;
    border: 0.5px solid rgba(120, 118, 113, 0.7);
    margin: 0 auto 0;
    padding: 2rem 0 1rem;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);

    background-size: contain;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.current-weather {
    display: flex;
    flex-flow: column;
    align-items: center;

    p {
        text-align: center;
        font-size: 1.25rem;
        font-family: Orbitron;
        font-weight: 600;
        margin: 0;
    }

    img {
        opacity: 0.8;
        margin: 0;

        &:hover {
            opacity: 1;
        }
    }
}

.city-name {
    color: $main-text;
    text-align: center;
    font-size: 1.5rem;
    font-family: Orbitron;
    font-weight: 700;

    margin: 0.87rem auto 2.5rem;

    >p:first-of-type {
        margin-bottom: 0;
    }

    img.flag {
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 0.25rem;
    }
}

.country {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    margin-top: 0;
    font-size: 1.125rem;
    text-align: center;
    font-weight: 500;

    span {
        font-size: 1rem;
    }
}


.weather-graph {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 50% 1fr;
    grid-template-rows: 1.375rem auto 1.375rem;
    place-content: center;

    p {
        margin: 0;
    }
}

.temp-hi {
    position: relative;
    grid-row: 1;
    grid-column: 1;
    justify-self: end;

    &::before {
        @include iconForText();
        background-image: url('../assets/icons/max-temp.svg');
        width: 0.86rem;
        height: 1rem;
        top: 0.15rem;
        left: -1rem;
    }
}

.temp-lo {
    position: relative;
    grid-row: 3;
    grid-column: 3;

    margin-left: 1rem;

    &::before {
        @include iconForText();
        background-image: url('../assets/icons/min-temp.svg');
        width: 0.86rem;
        height: 1rem;
        top: 0.15rem;
        left: -1rem;
    }
}

.weather-graph-values {
    position: relative;
    aspect-ratio: 1/1;
    grid-row: 1/-1;
    grid-column: 2;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    border: 2px solid $main-text;

    .wind::before {
        width: 0.875rem;
        height: 0.7rem;
    }

    .humidity {
        font-size: 0.875rem;

        &::before {
            width: 0.6rem;
            height: 0.86rem;
        }
    }
}


.main-temp {
    text-align: center;
    font-size: 2.5rem;
    color: white;
    font-family: Orbitron;
    font-weight: 700;
    margin: 0;

    text-shadow: inner 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.icon-text {
    position: relative;

    font-family: Sansation;
    font-size: 0.625rem;
    text-indent: 1rem;

    &.wind::before {
        @include iconForText();
        background-image: url('../assets/icons/details-wind.svg');
        width: 0.75rem;
        height: 0.625rem;
        left: 0rem;
        top: 0.1rem;
    }

    &.humidity::before {
        @include iconForText();
        background-image: url('../assets/icons/details-humidity.svg');
        width: 0.75rem;
        height: 0.625rem;
        left: 0rem;
        top: 0.1rem;
    }
}

.today-date {
    text-align: center;
    font-size: 0.75rem;
    font-family: Orbitron;
    font-weight: 500;

    margin-top: 1.25rem;
    margin-bottom: 1.75rem;
}

.five-days-pred {
    display: flex;
    margin: 0 0.1rem;
}

.pred-card {
    margin: 0;
    padding: 0 0.25rem;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;

    img {
        width: 1.75rem;
        height: 1.75rem;
        opacity: 0.7;
    }

    p {
        text-align: center;
        font-size: 0.75rem;
        font-family: Sansation;
        margin: 0;
        padding: 0;

        &:nth-of-type(2) {
            font-weight: 700;
        }

        &.humidity {
            position: relative;
            font-size: 0.5rem;
            text-indent: 0.5rem;
            margin-top: 0.1rem;

            &::before {
                @include iconForText();
                background-image: url('../assets/icons/details-humidity.svg');
                width: 0.42rem;
                height: 0.63rem;
                left: -0.15rem;
                top: 0rem;
                opacity: 0.7;
            }
        }

        img {
            width: 1.75rem;
        }
    }

    &:not(:first-child) {
        border-left: 1px solid white;
    }
}

.short-text {
    position: relative;
    text-align: center;
    font-size: 0.75rem;
    font-family: Sansation;
    margin: 1.8rem 2.5rem;

    button {
        position: absolute;
        bottom: 0;
        right: 0;


        color: #FFF;
        text-align: center;
        font-size: 2.5rem;
        font-family: Orbitron;
        line-height: 0.5rem;
    }
}

.randomize {
    display: flex;
    justify-content: center;
    margin: 2.5rem auto 0.3rem;

    button {
        background-image: url('../assets/icons/dice-random.svg');
        width: 1.5rem;
        height: 1.75rem;
    }
}

button {
    background: transparent;
    border: none;
    opacity: 0.8;

    &:hover {
        cursor: pointer;
        opacity: 1;
    }
}

.theme-fill-ui .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.5;
    backdrop-filter: blur(10px);
}