.popup-overlay {
    position: absolute;
    border-radius: 0.625rem;
    overflow: clip;
    border: 1px solid #787671;
    z-index: 10;
    padding: 0.5rem;
    font-size: 0.625rem;

    top: 0;
    transition: all 1000ms ease-in-out;
    translate: -50% -100%;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        backdrop-filter: blur(3px);
        z-index: -1;
    }
}

.popup-close-btn {
    color: rgba(255, 255, 255, 0.7);
    font-family: Orbitron;
    font-weight: 700;
    font-size: 0.875rem;
    position: absolute;
    top: 0.1rem;
    right: 0.2rem;
}