.wheel-hub {
    position: absolute;
    width: 182px;
    height: 182px;
    border-radius: 50%;
    top: 33%;
    translate: 0% -50%;
    z-index: 1;
    backdrop-filter: blur(2px);
}

.wheel-hub-background {
    border-radius: 50%;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 3.125rem solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    z-index: 0;
}

.wheel-element {
    position: absolute;
    top: 50%;
    translate: 0% -50%;
    width: 49%;
    transform-origin: center right;
    box-sizing: border-box;
    z-index: 1;
}

.wheel-element-background {
    position: relative;
    opacity: 0.8;
    top: 0;
    left: 10%;
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 2rem;
    height: 2rem;
}